@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/open-sans.woff2") format("woff2");
}
body {
    color: #fefefe;
    background-color: #121212;
    font-family: "Open Sans", sans-serif;
}
form#login {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 140px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    background-color: #333333;
    text-align: center;
}
form#login div.inline {
    display: flex;
    justify-content: center;
}
form#login input {
    color: #fefefe;
    width: 60%;
    padding: 10px;
    background: transparent;
    border: 1px solid #fefefe;
    border-radius: 5px;
    transition: all ease .3s;
    outline: none;
}
form#login input:hover {
    cursor: text;
}
form#login input:focus {
    outline: none;
    border-color: #979797;
}
form#login button {
    color: #fefefe;
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid #fefefe;
    border-radius: 5px;
    transition: all ease .3s;
}
form#login button:hover {
    cursor: pointer;
    border-color: #979797;
    background-color: #222222;
}
div#container {
    /*background-color: #fefefe;*/
    left: 50%;
    width: 650px;
    margin-top: 40px;
    position: absolute;
    transform: translateX(-50%);
}
div#server_select {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
button.server {
    color: #fefefe;
    border: 2px solid #fefefe;
    padding: 10px;
    margin: 10px;
    background: none;
    transition: border-color ease .3s;
}
button.server:hover {
    cursor: pointer;
    border: 2px solid #979797;
}
button#add_server {
    display: none;
}
div#instructions {
    display: none;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 2px solid #fefefe;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    height: fit-content;
    z-index: 999;
    background-color: #000;
    box-shadow: 20px 20px 5px #222;
}
div#instructions h2 {
    margin: 0px;
    margin-bottom: 5px;
}
code {
    color: #e0ce05;
    padding: 5px;
}

/* Loading spinner */
#spinner {
    display: inline-block;
    border: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}
#spinner:after {
    content: " ";
    display: block;
    width: 22px;
    height: 22px;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading 1.2s linear infinite;
}
@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
