{% extends "base.html" %}
{% set title = "Dashboard" %}
{% block content %}
    <div id = "instructions">
        <h3>Setup instructions</h3>
        <hr>
        <ol>
            <li>Install ISM: <code>sudo sh -c "$(curl -L https://s.iipython.dev/S)"</code></li>
            <li>Select the <code>Install Client</code> option</li>
            <li>The access token is <code id = "access_token"></code></li>
            <li>Reload the page to see the new host</li>
        </ol>
    </div>
    <div id = "container">
        <div id = "server_select">
            <div id = "spinner"></div>
            <button class = "server" id = "add_server">+ add</button>
        </div>
        <hr>
        <div id = "server_graphs">
            <p id = "no_server">No server selected.</p>
            <canvas id = "cpu_stats"></canvas>
            <canvas id = "mem_stats"></canvas>
            <canvas id = "net_stats"></canvas>
        </div>
    </div>

    <!-- JS -->
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script type = "text/javascript">

        // UI references
        const cpu_stats = document.getElementById("cpu_stats");
        const mem_stats = document.getElementById("mem_stats");
        const net_stats = document.getElementById("net_stats");
        const add_server = document.getElementById("add_server");
        const server_select = document.getElementById("server_select");
        const server_graphs = document.getElementById("server_graphs");

        // Handle adding a server
        add_server.addEventListener("click", async () => {
            const hostname = prompt("Hostname:");
            if (!hostname.length) return;
            const ip = prompt("IP address of host (access control):");
            if (!ip.length) return;
            
            // Create host
            const resp = await fetch("/api/add", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({"hostname": hostname, "ip": ip})
            });
            const result = await resp.json();
            if (!result.success) return alert(result.error);
            document.getElementById("access_token").innerText = result.token;
            document.getElementById("instructions").style.display = "block";
        });

        // Handle button processing
        function add_host(hostname) {
            const button = document.createElement("button");
            button.innerText = hostname;
            button.classList = "server";
            server_select.insertBefore(button, add_server);

            // Handle selecting host
            button.addEventListener("click", () => {
                function create_chart(elem, title, times, data, suffix, max) {
                    return new Chart(elem, {
                        type: "line",
                        data: {
                            labels: times,
                            datasets: data
                        },
                        options: {
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: (c) => { return c.parsed.y + suffix; }
                                    }
                                },
                                title: {
                                    display: true,
                                    text: `${title} (${hostname})`
                                }
                            },
                            scales: {
                                x: { display: false },
                                y: {
                                    suggestedMax: max,
                                    beginAtZero: true,
                                    ticks: {
                                        callback: (v) => { return v + suffix; }
                                    }
                                }
                            }
                        }
                    });
                }
                const no_server = document.getElementById("no_server");
                if (no_server) no_server.remove();
                for (let c of (window.charts || [])) c.destroy();
                let cpu_data = [], mem_data = [{ label: "RAM Usage", data: [] }],
                    net_data = [{ label: "Network Usage (in)", data: [] }, { label: "Network Usage (out)", data: [] }],
                    total_mem = 0, times = [];
                for (let entry of window.log_data[hostname]) {
                    for (let cpu in entry.cpu) {
                        if (!cpu_data[cpu]) cpu_data.push({ label: `CPU ${Number(cpu) + 1}`, data: [] });
                        cpu_data[cpu].data.push(entry.cpu[cpu]);
                    }
                    total_mem = entry.ram.total;
                    mem_data[0].data.push(entry.ram.used);
                    net_data[0].data.push(entry.net.in);
                    net_data[1].data.push(entry.net.out);
                    times.push((new Date(entry.time * 1000)).toLocaleString());
                }
                window.charts = [
                    create_chart(cpu_stats, "CPU Usage", times, cpu_data, "%", 100),
                    create_chart(mem_stats, "RAM Usage", times, mem_data, "GB", total_mem),
                    create_chart(net_stats, "Network Usage", times, net_data, "MB/s", 1000)
                ];
            });
        }

        // Load all log information
        (async () => {
            const log_data = await (await fetch("/api/logs")).json();
            window.log_data = log_data;
            for (let i in log_data) add_host(i);
            add_server.style.display = "block";
            document.getElementById("spinner").remove();
        })();
    </script>
{% endblock %}
